@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", ui-sans-serif, system-ui;
  background: #f6f1e4;
}

.font-display {
  font-family: "Fraunces", serif;
}

.font-mono-brand {
  font-family: "JetBrains Mono", monospace;
}
